/* Single elements */

.single-container
{
	z-index: 101;
}

.close
{
	width: 60px;
	height: 60px;
	display: block;
	cursor: pointer;
	position: absolute;
	top: 30px;
	right: 30px;
	z-index: 1;

	transform: translate3d(0, 0, 0);
}

	.mousehover .about-close
	{
		display: none;
	}

	.no-mousehover .about-close
	{
		background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 20 20'%3E%3Cpath fill='%23fff' d='M.511 18.896l.7.701 8.842-8.841 8.736 8.733.701-.7-8.733-8.734 8.841-8.843-.702-.703-8.842 8.844-8.95-8.95-.702.703 8.949 8.948'/%3E%3C/svg%3E");
		background-repeat: no-repeat;
		background-position: center center;
		top: 0;
		left: 50%;
		right: auto;
		margin-left: -30px;
		opacity: 0;
	}

		.no-mousehover .about-open .about-close
		{
			opacity: 1;
		}

	/*.mousehover .close:hover
	{
		-webkit-transform: rotate(90deg);
		transform: rotate(90deg);
	}

	.mousehover .right-project .close:hover
	{
		-webkit-transform: rotate(-90deg);
		transform: rotate(-90deg);
	}*/

	.right-project .close
	{
		left: 30px;
		right: auto;
	}

	.close span
	{
		width: 100%;
		height: 100%;
		display: block;
		position: absolute;
		top: 0;
		left: 0;
	}

	.close .black
	{
		background: transparent url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='46' height='46' viewBox='0 0 46 46'%3E%3Cpath d='M38.968 39.483l.7-.699-15.911-15.913L39.562 7.065l-.701-.702-15.806 15.805L7.141 6.256l-.703.702 15.915 15.913-16.02 16.022.703.701 16.018-16.02'/%3E%3C/svg%3E") center center no-repeat;
	}

	.close .white
	{
		background: transparent url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='46' height='46' viewBox='0 0 46 46'%3E%3Cpath fill='%23FFF' d='M38.968 39.483l.7-.699-15.911-15.913L39.562 7.065l-.701-.702-15.806 15.805L7.141 6.256l-.703.702 15.915 15.913-16.02 16.022.703.701 16.018-16.02'/%3E%3C/svg%3E") center center no-repeat;
		opacity: 0;
	}

		.white-nav .close .black
		{
			opacity: 0;
		}

		.white-nav .close .white
		{
			opacity: 1;
		}

.fixed-caption
{
	font-size: 18px;
	line-height: 26px;
	width: 50%;
	position: absolute;
	top: 50%;
	right: 0;
	margin-top: -13px;
	text-transform: capitalize;
	pointer-events: none;
}

	.right-project .fixed-caption
	{
		left: 0;
		right: auto;
	}

	.white-nav .fixed-caption
	{
		color:$font-color;
	}

.caption
{
	font-size: 18px;
	line-height: 26px;
	display: none;
}

/* Small gallery */

.small-gallery
{
	height: 50px;
	position: absolute;
	z-index: 1;
	font-size: 0;
	line-height: 0;
	cursor: default;
}

	.img-holder .small-gallery
	{
		bottom: 10px;
		right: 10px;

		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}

	.left .img-holder .small-gallery
	{
		left: 15px;
	}

	.right .img-holder .small-gallery
	{
		right: 15px;
	}

	.single-work .small-gallery
	{
		right: 40px;
		bottom: 40px;
	}

		.single-work .right-project .small-gallery
		{
			right: auto;
			left: 40px;
		}

	.small-gallery a
	{
		display: inline-block;
		height: 100%;
		max-width: 100%;
		position: relative;
		cursor: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='13' height='13' viewBox='0 0 13 13'%3E%3Cpath fill='%23FFF' d='M12 6H7V1H6v5H1v1h5v5h1V7h5'/%3E%3C/svg%3E") 6 6, pointer;
	}

		.white-nav .small-gallery a
		{
			cursor: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='13' height='13' viewBox='0 0 13 13'%3E%3Cpath d='M12 6H7V1H6v5H1v1h5v5h1V7h5'/%3E%3C/svg%3E") 6 6, pointer;
		}

		.single-work .small-gallery a
		{
			cursor: pointer;
		}

		.left .small-gallery a:not(:last-child)
		{
			margin-right: 10px;
		}

		.right .small-gallery a:not(:first-child),
		.single-work .small-gallery a:not(:first-child)
		{
			margin-left: 10px;
		}

	.small-gallery a:before
	{
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: #000;
		opacity: 0;
	}

		.white-nav .small-gallery a:before
		{
			background: $font-color;
		}

		// .mousehover .small-gallery:hover .current:before
		// {
		// 	opacity: 0;
		// }

		// .mousehover .small-gallery a:hover:before,
		// .mousehover .small-gallery:hover .current:hover:before,
		// .small-gallery a.current:before
		// {
		// 	opacity: 1;
		// }

	.small-gallery img
	{
		height: 100%;
		width: auto;
	}

 .small-gallery
{
	-webkit-transform: translate3d(0, -80px, 0);
	transform: translate3d(0, -80px, 0);
}

.single-work .img-holder .small-gallery
{
	visibility: hidden !important;
}
