

@media (orientation:landscape) {

	html.ipad.ios7 > body
	{
        width: 100%;
        height: 672px !important;
        position: relative;
    }

}


@media only screen and (min-width: 1681px)
{
	.fixed-caption
	{
		font-size: 21px;
		line-height: 28px;
		margin-top: -14px;
	}
}

@media only screen and (min-width: 768px)
{
	html,
	body
	{
		overflow: hidden;
	}

	.mobile-thumbs,
	.mobile-close,
	.mobile-logo
	{
		display: none;
	}

	.intro-animation .aseat,
	.intro-animation .attable
	{
		opacity: 0
	}

	.img-holder
	{
		position: absolute;
	}

	.layout
	{
		position: absolute;
	    top: 0;
	    right: 0;
	    bottom: 0;
	    left: 0;
	    overflow: hidden;
	    cursor: pointer;
	    opacity: 0;
	}

		.initialised
		{
			opacity: 1;
		}

		.up-cursor
		{
			cursor: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='35' height='35' viewBox='0 0 35 35'%3E%3Cpath d='M25.555 9.779L17.777 2 10 9.778l.707.707 6.57-6.571V33h1V3.914l6.57 6.572'/%3E%3C/svg%3E") 18 2, n-resize;
		}

			.white-cursors .up-cursor
			{
				cursor: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='35' height='35' viewBox='0 0 35 35'%3E%3Cpath fill='%23FFF' d='M25.555 9.779L17.777 2 10 9.778l.707.707 6.57-6.571V33h1V3.914l6.57 6.572'/%3E%3C/svg%3E") 18 2, n-resize;
			}

		.up-down-cursor
		{
			cursor: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='35' height='35' viewBox='0 0 35 35'%3E%3Cpath d='M18.277 31.086l.002-27.172 6.571 6.573.707-.707L17.779 2l-7.778 7.778.707.707 6.571-6.571-.002 27.172-6.57-6.573-.707.707L17.777 33l7.778-7.778-.707-.707'/%3E%3C/svg%3E") 18 33, ns-resize;
		}

			.white-cursors .up-down-cursor
			{
				cursor: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='35' height='35' viewBox='0 0 35 35'%3E%3Cpath fill='%23FFF' d='M18.277 31.086l.002-27.172 6.571 6.573.707-.707L17.779 2l-7.778 7.778.707.707 6.571-6.571-.002 27.172-6.57-6.573-.707.707L17.777 33l7.778-7.778-.707-.707'/%3E%3C/svg%3E") 18 33, ns-resize;
			}

			.upup-down-cursor
			{
				cursor: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='35' height='35' viewBox='0 0 35 35'%3E%3Cpath d='M18.277 31.086l.002-27.172 6.571 6.573.707-.707L17.779 2l-7.778 7.778.707.707 6.571-6.571-.002 27.172-6.57-6.573-.707.707L17.777 33l7.778-7.778-.707-.707'/%3E%3C/svg%3E") 18 33, ns-resize;
			}

				.white-cursors .upup-down-cursor
				{
					cursor: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='35' height='35' viewBox='0 0 35 35'%3E%3Cpath fill='%23FFF' d='M18.277 31.086l.002-27.172 6.571 6.573.707-.707L17.779 2l-7.778 7.778.707.707 6.571-6.571-.002 27.172-6.57-6.573-.707.707L17.777 33l7.778-7.778-.707-.707'/%3E%3C/svg%3E") 18 33, ns-resize;
				}

			.up-downdown-cursor
			{
				cursor: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='35' height='35' viewBox='0 0 35 35'%3E%3Cpath d='M18.277 31.086l.002-27.172 6.571 6.573.707-.707L17.779 2l-7.778 7.778.707.707 6.571-6.571-.002 27.172-6.57-6.573-.707.707L17.777 33l7.778-7.778-.707-.707'/%3E%3C/svg%3E") 18 33, ns-resize;
			}

				.white-cursors .up-downdown-cursor
				{
					cursor: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='35' height='35' viewBox='0 0 35 35'%3E%3Cpath fill='%23FFF' d='M18.277 31.086l.002-27.172 6.571 6.573.707-.707L17.779 2l-7.778 7.778.707.707 6.571-6.571-.002 27.172-6.57-6.573-.707.707L17.777 33l7.778-7.778-.707-.707'/%3E%3C/svg%3E") 18 33, ns-resize;
				}

		.down-cursor
		{
			cursor: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='35' height='35' viewBox='0 0 35 35'%3E%3Cpath d='M10 25.221L17.777 33l7.777-7.777-.707-.707-6.57 6.57V2h-1v29.086l-6.57-6.572'/%3E%3C/svg%3E") 18 33, s-resize;
		}

			.white-cursors .down-cursor
			{
				cursor: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='35' height='35' viewBox='0 0 35 35'%3E%3Cpath fill='%23FFF' d='M10 25.221L17.777 33l7.777-7.777-.707-.707-6.57 6.57V2h-1v29.086l-6.57-6.572'/%3E%3C/svg%3E") 18 33, s-resize;
			}

	.half
	{
		width: 50%;
	    height: 100%;
	    position: absolute;
	    overflow: hidden;
	}

		.layout .half
		{
			font-size: 0;
			line-height: 0;
		}

		.layout .half.left
		{
			left: 0;
			top: 0;
		}

		.layout .half.right
		{
			right: 0;
			bottom: 0;
		}

		.intro-animation .current.half
		{
			opacity: 0;
		}

		.mousehover .half
		{
		    -webkit-transform: translate3d(0, 0, 0);
		    transform: translate3d(0, 0, 0);
		}

			.half .container
			{
				width: 100%;
				width: calc(50vw - 60px);
				/*height: 100%;
				height: calc(100vh - 80px);*/

				position: absolute;
				top: 40px;
				bottom: 40px;

				overflow: hidden;
			}

				.small .container
				{
					width: calc(((50vw - 140px) / 3 * 2) - 20px);
				}

				.medium .container
				{
					width: calc(((50vw - 140px) / 3 * 2) + 40px);
				}

				.fill .container
				{
					width: auto;
					height: auto;
					left: 0;
					right: 0;
					top: 0;
					bottom: 0;
				}

				.left.small-left-top .container,
				.left.small-left-middle .container,
				.left.small-left-bottom .container,
				.left.medium-left-top .container,
				.left.medium-left-middle .container,
				.left.medium-left-bottom .container
				{
					left: 40px;
				}

				.right.small-left-top .container,
				.right.small-left-middle .container,
				.right.small-left-bottom .container,
				.right.medium-left-top .container,
				.right.medium-left-middle .container,
				.right.medium-left-bottom .container,
				.right.fill .container,
				.right.fit .container
				{
					left: 20px;
				}

				.left.small-center-top .container,
				.left.small-center-middle .container,
				.left.small-center-bottom .container
				{
					left: calc(((50vw - 140px) / 3 + 140px) / 2 + 10px);
				}

				.left.medium-center-top .container,
				.left.medium-center-middle .container,
				.left.medium-center-bottom .container
				{
					left: calc(((50vw - 140px) / 3 + 80px) / 2 + 10px);
				}

				.right.small-center-top .container,
				.right.small-center-middle .container,
				.right.small-center-bottom .container
				{
					right: calc(((50vw - 140px) / 3 + 140px) / 2 + 10px);
				}

				.right.medium-center-top .container,
				.right.medium-center-middle .container,
				.right.medium-center-bottom .container
				{
					right: calc(((50vw - 140px) / 3 + 80px) / 2 + 10px);
				}

				.left.small-right-top .container,
				.left.small-right-middle .container,
				.left.small-right-bottom .container,
				.left.medium-right-top .container,
				.left.medium-right-middle .container,
				.left.medium-right-bottom .container,
				.left.fill .container,
				.left.fit .container
				{
					right: 20px;
				}

				.right.small-right-top .container,
				.right.small-right-middle .container,
				.right.small-right-bottom .container,
				.right.medium-right-top .container,
				.right.medium-right-middle .container,
				.right.medium-right-bottom .container
				{
					right: 40px;
				}

	/* Slider */

	.slide .bg
	{
		position: absolute;
	}

		.slide:not(.right-aligned) .bg
		{
			top: 0;
			left: 0;
		}

		.slide .cover-img .bg
		{
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
		}

		.slide img
		{
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
		}

	.mousehover .slide,
	.mousehover .slide .bg
	{
		transform-style: preserve-3d
	}

	.slider,
	.single-container,
	.mobile-scroller
	{
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
	}

		.slide
		{
			width: 100%;
			height: 100%;
			position: absolute;
			top: 0;
			left: 0;
		}

		.slider .inview
		{
			left: 0;
		}

	/* About */

	.about
	{
		visibility: hidden;
	}

		.about-open .about
		{
			visibility: visible;
			cursor: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 20 20'%3E%3Cpath fill='%23fff' d='M.511 18.896l.7.701 8.842-8.841 8.736 8.733.701-.7-8.733-8.734 8.841-8.843-.702-.703-8.842 8.844-8.95-8.95-.702.703 8.949 8.948'/%3E%3C/svg%3E"), pointer;
		}

	.about .half
	{
		width: 50%;
		overflow: hidden;
	}

		.about .half.left
		{
			top: 0;
			right: 50%;
		}

		.about .half.right
		{
			top: 0;
			left: 50%;
		}

		.about .bg
		{
			background: darken($primary-color, 30%);
			position: absolute;
			top: 0;
			width: 100%;
			height: 100%;
		}

			.about .left .bg
			{
				left: 100%;
			}

				.about-open .left .bg
				{
					left: 0;
				}

			.about .right .bg
			{
				right: 100%;
			}

				.about-open .right .bg
				{
					right: 0;
				}

	.about .centered
	{
		opacity: 0;
		color: $font-color;
	}

		.about .centered a,
		.about .centered a:visited
		{
			color: $font-color;
		}

		.about-open .about .centered
		{
			opacity: 1;
		}

	.about-open .aseat
	{
		right: auto;
		left: 40px;
	}

	.about-open .attable
	{
		left: auto;
		right: 40px;
	}

	.fit-img .big-img,
	.fit-img video
	{
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
	}

	.cover-img .big-img,
	.cover-img video
	{
		position: absolute;
	}


}

@media only screen and (min-width: 1024px)
{
	.slide.right-aligned .fit-img .bg
	{
		top: 0;
		right: 0 !important;
		left: auto !important;
	}
}

@media only screen and (min-width: 768px) and (max-width: 1023px)
{
	.slide .fit-img .bg
	{
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
	}

	.fixed-caption
	{
		display: none;
	}
}

@media only screen and (max-width: 1200px) and (min-width: 768px)
{
	.small .container
	{
		width: calc(((50vw - 140px) / 3 * 2) + 40px);
	}

	.left.small-center-top .container,
	.left.small-center-middle .container,
	.left.small-center-bottom .container
	{
		left: calc(((50vw - 140px) / 3 + 80px) / 2 + 10px);
	}

	.right.small-center-top .container,
	.right.small-center-middle .container,
	.right.small-center-bottom .container
	{
		right: calc(((50vw - 140px) / 3 + 80px) / 2 + 10px);
	}
}

@media only screen and (max-width: 1023px) and (min-width: 768px)
{
	.small .container,
	.medium .container
	{
		width: calc(50vw - 60px);
	}

	.left.small-center-top .container,
	.left.small-center-middle .container,
	.left.small-center-bottom .container
	{
		left: 40px
	}

	.left.medium-center-top .container,
	.left.medium-center-middle .container,
	.left.medium-center-bottom .container
	{
		left: 40px
	}

	.right.small-center-top .container,
	.right.small-center-middle .container,
	.right.small-center-bottom .container
	{
		right: 40px;
	}

	.right.medium-center-top .container,
	.right.medium-center-middle .container,
	.right.medium-center-bottom .container
	{
		right: 40px;
	}

	.aseat,
	.attable
	{
		position: absolute;
		width: 40px;
		height: 150px;
		line-height: 40px;

		width: 9vh;
		height: 22.5vh;
	}

	.aseat
	{
		margin-top: calc(50vh - 75px);
		margin-top: 38.75vh;
		right: 50%;
		right: calc(50% - 3px);
	}

	.attable
	{
		margin-bottom: calc(50vh - 75px);
		margin-bottom: 38.75vh;
		left: 50%;
		left: calc(50% - 3px);
	}
}

@media only screen and (max-width: 768px)
{
	.ajax
	{
		min-height: 100%;
	}

	.aseat,
	.attable
	{
		position: fixed;
		width: 34px;
		height: 100px;
		line-height: 27px;
	}

		.aseat
		{
			left: 15px;
			bottom: 14px;
			right: auto;
			top: auto;
			margin-top: 0;
		}

		.attable
		{
			right: 15px;
			top: 14px;
			bottom: auto;
			left: auto;
			margin-bottom: 0;
		}


		.about-open .aseat
		{
			left: -35px;
		}

		.about-open .attable
		{
			right: -35px
		}

	.layout
	{
		padding: 32px 32px 0 32px;
	}

		.about-open .layout
		{
			opacity: 0;
			visibility: hidden;
			position: absolute;
		}

	.slider
	{
		padding: 60px 0 0 0;
	}

	.small-gallery
	{
		display: none;
	}

	.img-holder,
	.img-holder img,
	.img-holder .bg
	{
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
	}

	.layout .half
	{
		padding-bottom: 32px;
		cursor: pointer;
	}

		.container,
		.slide-container
		{
			width: 100%;
			height: 0;
			padding-bottom: 150%;
			position: relative;
		}

	.slide
	{
		padding-bottom: 25px;
	}

	.fixed-caption
	{
		display: none;
	}

	.caption
	{
		display: block;
		font-size: 16px;
		line-height: 24px;
		padding-top: 11px;
	}

	.close
	{
		width: 60px;
		height: 60px;
		top: 0;
		left: 50%;
		right: auto;
		margin-left: -30px;
	}

	.close .black
	{
		background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 20 20'%3E%3Cpath d='M.511 18.896l.7.701 8.842-8.841 8.736 8.733.701-.7-8.733-8.734 8.841-8.843-.702-.703-8.842 8.844-8.95-8.95-.702.703 8.949 8.948'/%3E%3C/svg%3E");

	}

	.about
	{
		position: fixed;
		visibility: hidden;
		background: darken($primary-color, 30%);
	}

	.about .centered
	{
		opacity: 0;
		color: $font-color;
	}

		.about .centered a,
		.about .centered a:visited
		{
			color: $font-color;
		}

		.about-open .about
		{
			visibility: visible;
		}

		.about-open .about .centered
		{
			opacity: 1;
		}

	.centered
	{
		padding: 0 15px;
		max-width: none;
	}
	.aseat,
	.attable{
		font-size: 1em;
	}
}
