/* Scrollers */

.scroller,
.mousehover .hidden-scroller,
.no-mousehover .about-open .hidden-scroller
{
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	overflow-y: auto;
}

	.no-mousehover .scroller,
	.no-mousehover .about-open .hidden-scroller
	{
		-webkit-overflow-scrolling: touch;
	}

	.mousehover .scroller,
	.mousehover .hidden-scroller
	{
		-webkit-transform: translateZ(0);
		transform: translateZ(0);
	}

	.scroll-container
	{
		position: relative;
	}

		.mousehover .scroll-container
		{
			min-height: 100%;
		}

	.no-mousehover .scroll-container,
	.no-mousehover .about-open .hidden-scroller .scroll-container
	{
		height: 100%;
		overflow-y: auto;
	}

	.no-overflow,
	.no-mousehover .no-overflow .scroll-container
	{
		overflow: hidden;
	}

.mousehover.loading,
.mousehover.loading *,
.intro-animation,
.intro-animation *
{
	cursor: progress !important;
}

.no-transition,
.no-transition img,
.mousehover .force-grey .info-container .frame,
.resizing *
{
	-webkit-transition: none 0s linear !important;
	   -moz-transition: none 0s linear !important;
	    -ms-transition: none 0s linear !important;
	        transition: none 0s linear !important;
}

.no-animation
{
	-webkit-animation: none !important;
	   -moz-animation: none !important;
			animation: none !important;
}

.hidden
{
	display: none;
}

.load-more
{
	height: 1px;
	overflow: hidden;
}

.invisible
{
	visibility: hidden;
}

.zero-height
{
	height: 0;
	overflow: hidden;
	clear: both;
}

.transparent
{
	opacity: 0;
	visibility: hidden;
}

.zero-opacity
{
	opacity: 0;
}

.fixed
{
	position: fixed;
	visibility: hidden;
}

.no-overflow,
.clear
{
	overflow: hidden;
}

.no-max-height
{
	max-height: none;
}

strong
{
	font-weight: bold;
}

.align-center
{
	text-align: center;
}

.table
{
	display: table;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
}

	.table-cell
	{
		display: table-cell;
		vertical-align: middle;
		text-align: center;
		width: 100%;
		height: 100%;
	}

	.about .table-cell
	{
		padding: 60px 0;
	}
